.basket {
  width: 100%;
  height: auto;
  position: absolute;
}

#accordion {
  position: relative;
  width: 100%;
  font-family: sans-serif;
}

#accordion h1 {
  font-size: 3em;
  text-align: center;
}

#accordion h2 {
  font-size: 2em;
  text-decoration: underline;
  color: blue;
}

#accordion h2:hover {
  color:red;
}

#collapse1, #collapse2, #collapse3, #collapse4{
  display: none;
  font-size: 1.5em;
}

#shoppingForm {
  text-align: left;
  font-weight: bold;
}

#growingFoodList, #growingPriceList, #totalPrice {
  color: black;
  font-weight: bold;
  text-align: left;
}
